body {
  background-color: #eeeeee;
  font: Arial, Helvetica, sans-serif;
}
#header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}
#body {
  background-color: #eeeeee;
}
.axis path,
.axis line {
  stroke: grey;
  stroke-width: 10px;
  shape-rendering: crispEdges;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
